body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

.container {
    max-width: 1080px;
    margin: 0 auto 10px auto;
}

.cartao-presidente {
    margin: 0 auto;
    width: 480px;
    background-color: #191919;
    border-radius: 3px;
    padding: 20px 40px;
    box-shadow: 5px #000;
    display: flex;
    align-items: center;
}

.conteudo {
    margin: 0 auto;
    display: flex;
}

.conteudo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.infos {
    color: #2592FF;
    margin: 15px;
}

.infos h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.infos hr {
    display: block;
    height: 1px;
    width: 220px;
    background-color: #2592FF;
    margin: 0;
}

.infos h2 {
    margin-top: 15px;
    font-size: 1em;
}




#membros {
    display: flex;
}

.cartao-diretorias {
    margin: 0 auto;
    width: 310px;
    background-color: #191919;
    border-radius: 3px;
    padding: 20px 40px;
    box-shadow: 5px #000;
    display: flex;
    text-align: center;
}