/* RESET */
body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}


#espacamento {
    background-color: #000;
    padding: 40px 0;
}

#apresentacao {
    background: url("../img/wolves.jpeg") no-repeat center center;
    background-size: cover;
    padding: 185px 0;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.78);
    text-align: center;
    border-radius: 1%;
    padding: 50px;
}

.logo img {
    width: 180px;
    padding: 20px 0;
}

.form {
    width: 360px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form input {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1B1B1B;
    border: none;
    border-radius: 1%;
    transition-duration: 0.25s; 
    text-align: center;
    color: #2592FF;
}

.form input:hover {
    background-color: #202020;
}

.form input:focus {
    background-color: #C0C0C0;
    color: #2592FF;
    text-align: center;
}

::-webkit-input-placeholder {
    color: #2592FF;
    text-align: center;
    font-size: 1.125em;
  }

.form button {
    padding: 10px;
    color: #fff;
    background-color: #2592FF;
    border: none;
    font-size: 1.125em;
    margin-bottom: 5px;
}

.form a {
    color: #2592FF;
    font-size: 0.75em;
    transition-duration: 0.25s;
}

.form a:hover {
    color: #fff;
    text-decoration: none;
}