<%= form_with(model: office, local: true) do |form| %>
  <% if office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: "Nome", class: "input-gerador" %>
  </div>

  <div class="conteudo-gerador">
    <%= form.label :diretor %>
    <%= form.collection_select(:user_id, User.all, :id, :email) %>

    <%= form.submit %>
  </div>
<% end %>
