<body>
  

  <section id="apresentacao">
    <div class="container-apresentacao">
      <h1>Diretorias</h1>
      <% if current_user.admin %>
        <%= link_to 'New Office', new_office_path, class: "button-universal" %>
      <% end %>
    </div>
  </section>

  <div class="container-new">
    <hr>
  </div>

  <section id="conteudo">
    <div class="container-metas">
      
      <% @offices.each do |office| %>

        <div class="cartao-celulas">

          <div class="container-titulo">
            <%= link_to office.name, office, class: "nome-celulas" %>
            <hr>
          </div>

          <div class="conteudo">
            
            <div class="simbolo">
              <%= image_tag("comercial.jpeg", alt: "simbolo células", class: "imagem-celula") %>
            </div>

            <div class="gerente">
              <h2>Diretor:</h2>
              <h3>James Solzinho</h3>
              <h3><%= office.user.name %></h3>
            </div>
            
          </div>

          <div class="botoes-artigo">
            <% if (current_user.office_id) %>
              <% if (current_user.office_id == @office.id) || current_user.admin %>
                <%= link_to 'Editar', edit_office_path(office), class: "button-universal" %>
              <% end %>
            <% end %>
            <% if current_user.admin %>
              <%= link_to 'Deletar', office, method: :delete, data: { confirm: 'Tem certeza?' }, class: "button-universal" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
  