<div class="cartao-gerador">
    <h1>New Office</h1>

    <%= render 'form', office: @office %>

    <div class=""botoes-artigo>
        <%= link_to 'Back', offices_path, class: "btn btn-secondary" %>
    </div>
</div>
