<body>
  
<div class="cartao-container">

    <div class="container-show">
      <h1>Diretoria de</h1>
      <h1><%= @office.name %></h1>
    </div>

    <div class="conteudo-show">
      <p>
        <strong>Diretor:</strong>
        <%= @office.user.name %>
      </p>

      <p>
        <strong>Assessores:</strong>
      </p>
    </div>

      <% assessores = User.where(office_id: @office.id) %>
      <% assessores.each do |assessor| %>
        <% if assessor.id == @office.user_id %>
          <% assessores.delete(assessor)%>
        <% end %>
      <% end %>
      <% assessores.each do |assessor| %>
        <p>
          <%= assessor.name %>
        </p>
      <% end %>
      <div class="botoes-artigo">
        <% if current_user.admin || (@office.user_id==current_user.id) %>
          <%= link_to 'Editar', edit_office_path(@office), class: "button-universal" %> 
        <% end %>
        <%= link_to 'Metas', goals_path, class: "button-universal" %>
        <%= link_to 'Voltar', offices_path, class: "button-universal" %>
      </div>
  </div>

</body>
