<%= form_with(model: celula, local: true) do |form| %>
  <% if celula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(celula.errors.count, "error") %> prohibited this celula from being saved:</h2>

      <ul>
      <% celula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :nome, placeholder: "Nome", class: "input-gerador" %>
  </div>

  <div class="conteudo-gerador">
    <%= form.label :gerente %> 
    <%= form.collection_select(:user_id, User.all, :id, :email) %>

    <%= form.submit %>
  </div>
<% end %>
