
<div class="cartao-gerador">
    <h1>Editing Celula</h1>

    <%= render 'form', celula: @celula %>

    <div class=""botoes-artigo>
        <%= link_to 'Back', celulas_path, class: "btn btn-secondary" %>
    </div>
</div>
