<body>
  

  <section id="apresentacao">
    <div class="container-apresentacao">
      <h1>Celulas da Empresa</h1>
      <% if current_user.admin %>
        <%= link_to 'Nova Celula', new_celula_path, class: "button-universal" %>
      <% end %>
    </div>
  </section>

  <div class="container-new">
    <hr>
  </div>

  <section id="conteudo">
    <div class="container-metas">

      <% @celulas.each do |celula| %>
        <div class="cartao-celulas">

          <div class="container-titulo">
          <%= link_to celula.nome, celula, class: "nome-celulas" %>
            <hr>
          </div>

          <div class="conteudo">
            
            <div class="simbolo">
              <%= image_tag("comercial.jpeg", alt: "simbolo células", class: "imagem-celula") %>
            </div>
            
            <div class="gerente">
            <h2>Gerente:</h2>
            <h3>James Joinha</h3>
            <h3><%= celula.user.name %></h3>
            </div>
          
          </div>


          <div class="botoes-artigo">
            <% if current_user.admin || celula.user_id==current_user.id %>
              <%= link_to 'Editar', edit_celula_path(celula), class: "button-universal" %>
              <% if current_user.admin %>
                <%= link_to 'Deletar', celula, method: :delete, data: { confirm: 'Tem certeza?' }, class: "button-universal" %>
              <% end %>
            <% end %>
          </div>
          
        </div>
        <% end %>
    </div>
  
  </section>
        



</body>