<body>
  
<div class="cartao-container">

    <div class="container-show">
      <h1>Célula de</h1>
      <h1><%= @celula.nome %></h1>
    </div>


    <div class="conteudo-show">
      <p>
        <strong>Gerente:</strong>
        <%= @celula.user.name %>
      </p>

      <p>
        <strong>Membros:</strong>
      </p>
    </div>

      <% membros = CellParticipation.where(celula_id: @celula.id) %>
      <% membros.each do |membro| %>
        <% if membro.id == @celula.user_id %>
          <% membros.delete(membro)%>
        <% end %>
      <% end %>
      <% membros.each do |membro| %>
        <p>
          <%= membro.name %>
        </p>
      <% end %>
    <% if (current_user.id == @celula.user_id) or current_user.admin %>
      <% @users.each do |user| %>
        <%= link_to user.name, add_to_cell_path(:user_id => user.id, :celula_id => @celula.id, method: :post %> 
      <% end %>
    <% end %>
    
    <div class="botoes-artigo">
      <% if current_user.admin || celula.user_id==current_user.id%>
        <%= link_to 'Edit', edit_celula_path(@celula), class: "button-universal" %>
      <% end %>
      <%= link_to 'Back', celulas_path, class: "button-universal" %>
    </div>
  </div>
</div>
