
            <body>
                
              <section id="espacamento">
              </section>


              
              <section id = "apresentacao-login">
                
                <div class="container-login">
                      
                    
                
                  <%= image_tag("logo 2097x1360.png", alt: "Logo da in", class:"logo") %>
                  
        
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email" , class: "input" %>
                      
                  <!--<% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />-->
                  
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", class: "input" %>

                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirme sua Senha", class: "input" %>

                      <%= f.submit "Sign up", class: "button" %>
                  <% end %>

                  <%= render "users/shared/links" %>
        
                </div>
      
              </section>
                  
              <section id="espacamento">
              </section>
              
            </body>
