<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :goal_id %>
    <%= form.collection_select(:goal_id, Goal.all, :id, :name) %>
  </div>

  <% form.hidden_field :done, :value => false %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
