<html>
  <body>
    
    <section id="espacamento">
    </section>


    
    <section id = "apresentacao-login">
      
      <div class="container-login">
            
          
      
          <%= image_tag("logo 2097x1360.png", alt: "Logo da in", class:"logo") %>
          

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>

              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "input" %>

              <%= f.submit "Login", class: "button-login" %>
           <% end %>
          
    
      <%= render "users/shared/links" %>
      
      
      
      </div>
      
    </section>
    
    <section id="espacamento">
    </section>

  </body>
</html>
    
        
          
    