  <%= form_with(model: article, local: true) do |form| %>
    <% if article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <section id="apresentacao">
      <div class="container-new">
        <%= form.text_field :title, placeholder: "Título", class: "text_field" %>
      </div>
    </section>
      
    
      <%= form.cktext_area :content %>
    
    <section id = "novo-conteudo">
      <div class="container-new">
        <button class="button">Pronto</button>
      </div>
    </section>
  <% end %>
