<div class="container-new">

    <h1>Editing Article</h1>

    <%= render 'form', article: @article %>


    <div class="botoes-artigo">
        <%= link_to 'Ver', @article, class: "button" %> 
        <%= link_to 'Back', articles_path, class: "button" %>
    </div>

</div>
