<body>
  <section id="apresentacao">
    <div class="container-apresentacao">
      <h1>Artigos</h1>
      
      <%= link_to 'New Article', new_article_path, class: "button material-itens" %>

    </div>
  </section>

  <div class="container-busca">
    <%= form_tag(articles_path, method: :get) do %>
    <%= text_field_tag :term, params[:term], placeholder: "Explore pelos arquivos", class:"text_field" %>
    <%= submit_tag 'Buscar', class: "button-universal" %>
    <% end %>
  </div>

  <section id="conteudo">
    <div class="container">
      
      <% @articles.each do |article| %>
        <div class="cartao">
          <div class="imagem">
          </div>
          <div class="container-topo">
            <h2><%= article.title %></h2>
            <%= link_to 'Ver', article, class: "button" %>
          </div>
          
          <hr>

          <div class="conteudo-artigo">
            <%= raw article.content %>
          </div>

          <div class="botoes-artigo">
          <%= link_to 'Edit', edit_article_path(article), class: "button" %>
          <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
          </div>
        </div>        
      <% end %>

    </div>
  </section>
</body>
