<div class="container-new">
    
    <h1>New Article</h1>

    <%= render 'form', article: @article %>

    <div class="botoes-artigo">
        <%= link_to 'Back', articles_path, class: "button" %>
    </div>

</div>