
<div class="container-apresentacao">

  <h1><%= @article.title %></h1>
</div>

<div class="container">
  <div class="cartao">
      <%= raw @article.content %>
    
    <div class="botoes-artigo">
      <%= link_to 'Edit', edit_article_path(@article), class: "button" %> 
      <%= link_to 'Back', articles_path, class: "button" %>
    </div>
  
  </div>
  
    <div class="cartao">
    </div>

  
</div>