<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Diretoria</th>
      <th>Data de ingresso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= link_to u.name, u %></td>
        <td><%= u.email %></td>
        <td>
            <% if diretoria = Office.find_by(id: u.office_id) %>
                <%= diretoria.name %>
            <% end %>
        </td>
        <td><%= u.created_at.strftime("%d/%m/%y") %></td>
        <% if Office.find_by(id: u) %>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
