<p>
    <%= @user.name %>
    <% if current_user==@user %>
    <%= link_to 'Editar', edit_registration_path(current_user) %>
    <% end %>
</p>
<%= image_tag(@user.image_url.to_s) %>
<p><strong>Diretoria:</strong><%= @user.office_id %></p>
<p>
    <strong>Celula:</strong>
    <% celulas = CellParticipation.where(user_id: @user.id) %>
    <% celulas.each do |cell| %>
        <% if cell != celulas.last %>
            <%= cell.celula.nome %> /
        <% else %>
            <%= cell.celula.nome %>
        <% end %>
    <% end %>
</p>
<p>
    <strong>Fusão:</strong>
    <% if @fusion %>
        <%= @fusion.office.name %>
        <% if @office %>
            <%= link_to 'Completar Fusão', fusion_finish_path(:completou => true), method: :post %> 
            <%= link_to 'Cancelar Fusão', fusion_finish_path(:completou => false), method: :post %>
    <% else %>
    Não
    <% end %>
    <% end %>
</p>
<h2>Projetos:</h2>
<% @projects.each do |project| %>
    <p><%= link_to project.name %></p>
<% end %>