<html>
  <body>
    
    <section id="espacamento">
    </section>


    
    <section id = "apresentacao-login">
      
      <div class="container-login">
            
          
      
          <%= image_tag("logo 2097x1360.png", alt: "Logo da in", class:"logo") %>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>

              <%= f.submit "Recuperar Senha", class: "button-login" %>
          <% end %>

          <%= render "users/shared/links" %>
      </div>
      
    </section>
    
    <section id="espacamento">
    </section>

  </body>
</html>