<div class="jumbotron">
  <h1 class="display-4">Forúm dos Lobos</h1>
  <p class="lead">Pergunte aos lobos e eles lhe darão um caminho.</p>
  <hr class="my-4">  
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= form_tag(posts_path, method: :get) do %>
  <%= text_field_tag :term, params[:term], placeholder: 'Procurar um artigo...' %>
  <%= submit_tag 'Buscar' %>
<% end %>



  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user.email %></td>
        <td><%= link_to like_post_path(post), class: "like", method: :put do%>
          <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-thumbs-up"> <%=post.get_likes.size%></span> Likes
          </button>
        <%end%></td>
        
        <td><%= link_to dislike_post_path(post), class: "like", method: :put do%>
          <button type="button" class="btn btn-default btn-sm">
             <span class="glyphicon glyphicon-thumbs-down"> <%=post.get_dislikes.size%></span> Dislikes
          </button>
        <%end%></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
