<%= form_with(model: goal, local: true) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: "Nome", class: "input-gerador" %>
  </div>

  <div class="conteudo-gerador">
    <%= form.label :celula_id %>
    <%= form.collection_select(:celula_id, Celula.where(user_id: current_user.id), :id, :nome, {:include_blank => true}) %>

    <%= form.label :office_id %>
    <%= form.collection_select(:office_id, Office.where(user_id: current_user.id), :id, :name, {:include_blank => true}) %>

    <%= form.submit %>
  </div>
<% end %>
