<div class="cartao-gerador">    
    <h1>Editing Goal</h1>

    <%= render 'form', goal: @goal %>

    <div class=""botoes-artigo>
        <%= link_to 'Ver', @goal, class: "btn btn-secondary" %> 
        <%= link_to 'Back', goals_path, class: "btn btn-secondary" %>
    </div>
</div>
