<body>
  
  <section id="apresentacao">
    <div class="container-apresentacao">
      <h1>Metas da Empresa</h1>
      <%= link_to 'New Goal', new_goal_path, class: "button-universal" %>
    </div>
  </section>

  <div class="container-new">
    <hr>
  </div>

  <section id="conteudo">
    <div class="container-metas">

      <% @goals.each do |goal| %>
      <div class="cartao-metas">
        
      
        <div class="container-titulo">
          <h1 class="show"><%= goal.name %></h1>
          <%= goal.celula %>
          <%= goal.office %>
        </div>
        
        
        <div class="container-tarefas">
          <div class="tarefa">
            <input class="tarefas-check" type="checkbox"/><label>Fazer um palit</label>
          </div>
          <div class="tarefa">
            <input class="tarefas-check" type="checkbox"/><label>Fazer um palit</label>
          </div>
          <div class="tarefa">
            <input class="tarefas-check" type="checkbox"/><label>Fazer um palit</label>
          </div>
          <div class="tarefa">
            <input class="tarefas-check" type="checkbox"/><label>Fazer um palit</label>
          </div>
          <div class="tarefa">
            <input class="tarefas-check" type="checkbox"/><label>Fazer um palit</label>
          </div>
          <div class="tarefa">
            <input class="tarefas-check" type="checkbox"/><label>Fazer um palit</label>
          </div>
          <div class="tarefa">
            <input class="tarefas-check" type="checkbox"/><label>Fazer um palit</label>
          </div>
          <div class="tarefa">
            <input class="tarefas-check" type="checkbox"/><label>Fazer um palit</label>
          </div>
        </div>
          
        
        <div class="botoes-artigo">
            <%= link_to 'Edit', edit_goal_path(goal), class: "button-universal" %>
            <%= link_to 'Delete', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: "button-universal" %>
        </div>
      
      
      </div>
      <% end %>

    </div>
  </section>
</body>
