    
    <div class="cartao-gerador">
        <h1>New Goal</h1>

        <%= render 'form', goal: @goal %>
        
        <div class=""botoes-artigo>
            <%= link_to 'Back', goals_path, class: "btn btn-secondary" %>
        </div>
    </div>
