<p>
  <strong>Meta:</strong>
  <%= @goal.name %>
</p>

<% Task.where(goal_id: @goal.id).each do |tarefa| %>
  <p>
    <%= tarefa.name %>
    <% if tarefa.done %>
      <%= link_to 'Desfazer', task_change_status_path(:tarefa => tarefa.id), method: :put %>
    <% else %>
      <%= link_to 'Concluir', task_change_status_path(:tarefa => tarefa.id), method: :put %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>

