body {
    margin: 0px;
    padding: 0px;
    font-size: 1.125em;
    background-color: #fff;
}


.container {
    margin: 0 auto;
    max-width: 1080px;
    padding: 20px;
}

.button {
    text-align: center;
    width: 100px;
    border: none;
    margin: 0 10px;
    background-color: var(--azul-escuro);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 3px;
    transition-duration: 0.5s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button:hover {
    background-color: var(--azul-claro);
}

.container-new {
    margin: 0 auto;
    max-width: 1080px;
    padding: 20px;
    text-align: center;
}



/*  APRESENTACAO   */
#apresentacao {
    margin: 10px 0;
}

.container-apresentacao {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.container-apresentacao h1 {
    color: var(--azul-escuro);
    text-align: center;
    margin: 0px;
    font-size: 2.25em;
}

/*  CONTEUDO  */
.cartao {
    background-color: var(--cartao);
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: var(--azul-escuro);
    padding: 25px;
    margin: 25px 0;
}

.container-topo {
    display: flex;
    justify-content: space-between;
}

.container-topo h2 {
    margin: 0px;
    font-size: 1.5em;
}

.botoes-artigo {
    display: flex;
    justify-content: flex-end;
}

hr {
    border-color: var(--azul-escuro);
}

.conteudo-artigo {
    max-height: 260px;
    overflow: hidden;
    margin-bottom: 20px;
}

/*  NOVO CONTEUDO  */

#novo-conteudo {
    margin: 15px 0;
}

.botao-new {
    text-align: center;
}



.conteudo {
    text-align: center;
    font-size: 1.125em;
}

.text_field {
    padding: 10px 30px;
    text-align: center;
    margin: 10px 0;
    color: var(--azul-escuro);
    font-size: 1.125em;
}
