/*   HEADER   */

header {
    background-color: #191919;
    padding: 20px;
}

.nav-bar {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    width: 100px;
    float: left;
}

.empresa li {
    display: inline-block;
}

.membro li {
    display: inline-block;
}

.links-nav {
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
    transition-duration: 0.3s;
    margin: 0 10px;

}

.links-nav:hover {
    color: var(--azul-claro);
}


/* DROPDOWN*/

.foto-menu {
    margin: 0 10px;

}

.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px var(--azul-escuro);
}

.dropdown-perfil {
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
}

.dropdown-menu {
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #cccc;
    border-radius: 3px !important;
    width: 80px !important;
}

.link-dropdown {
    color: #191919;
}