html, body, h1, h2, h3 {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 1.125em;
}

.container-busca {
    max-width: 1080px;
    text-align: center;
    margin: 30px auto;
}


/*  APRESENTACAO   */
#apresentacao {
    margin: 10px 0;
}

.container-apresentacao {
    max-width: 1080px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.container-apresentacao h1 {
    color: var(--azul-escuro);
    text-align: center;
    margin: 0px;
    font-size: 2.25em;
}


/* CELULAS */

.cartao-celulas {
    background-color: var(--cartao);
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: var(--azul-escuro);
    padding: 25px;
    margin: 25px;
    width: 300px;
}

.nome-celulas {
    margin: 0;
    font-size: 2em;
    text-decoration: none;
    color: var(--azul-escuro);
}

.nome-celulas:hover {
    color: var(--azul-claro);
}

.gerente {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
}

.simbolo {
    margin: 25px 0;
}

.imagem-celula {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/*  METAS  */

.container-metas {
    margin: 0px auto;
    max-width: 1080px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-universal {
    text-align: center;
    width: 100px;
    border: none;
    margin: 0 10px;
    background-color: var(--azul-escuro);
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 3px;
    transition-duration: 0.5s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button-universal:hover {
    background-color: var(--azul-claro);
}

.container-new {
    margin: 0 auto;
    max-width: 1080px;
    padding: 20px;
    text-align: center;
}

.show {
    margin: 0;
}

.show:hover {
    color: var(--azul-claro);
}

.container-tarefas {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}


.tarefas-check {
    margin: 10px 0 10px 10px;
} 

.tarefa {
    display: flex;
    align-items: center;
}

.tarefa label {
    margin: 0 15px;
}

/*  NOVO CONTEUDO  */

#novo-conteudo {
    margin: 15px 0;
}

.botao-new {
    text-align: center;
}


.conteudo {
    text-align: center;
    font-size: 1.125em;
}

.text_field {
    padding: 10px 30px;
    text-align: center;
    margin: 10px 0;
    color: var(--azul-escuro);
    font-size: 1.125em;
}



/*  CONTEUDO  */

.container-titulo {
    text-align: center
}

.container-topo .show {
    margin: 0px;
    font-size: 1.5em;
}

.botoes-artigo {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

hr {
    border-color: var(--azul-escuro);
}

.conteudo-artigo {
    max-height: 260px;
    overflow: hidden;
    margin-bottom: 20px;
}

/*   LOGIN   */

#espacamento {
    background-color: #000;
    padding: 40px 0;
}

#apresentacao-login {
    background: url("wolves.jpeg") no-repeat center center;
    background-size: cover;
    padding: 185px 0;
}

.container-login {
    max-width: 480px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.78);
    text-align: center;
    border-radius: 1%;
    min-height: 460px;
}

.logo {
    width: 180px;
    padding: 20px 0;
}

.new_user {
    width: 360px;
    padding-top: 30px;
    display: block;
    flex-direction: column;
    margin: 0 auto;
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1B1B1B;
    border: none;
    border-radius: 1%;
    transition-duration: 0.25s; 
    text-align: center;
    color: var(--azul-claro);
    width: 260px;
    font-size: 1.125em;
}

.input:hover {
    background-color: #202020;
}

.input:focus {
    background-color: var(--cartao);
    color: var(--azul-escuro);
    text-align: center; 
}

::-webkit-input-placeholder {
    color: #2592FF;
    text-align: center;
    font-size: 1.125em;
  }


.button-login {
    padding: 10px;
    color: #fff;
    background-color: #2592FF;
    border: none;
    font-size: 1.125em;
    margin-bottom: 5px;
    width: 260px;
}

.links {
    text-decoration: none;
    color: #2592FF;
    font-size: 1em;
    transition-duration: 0.25s;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}


/*  CONTEUDO  */
.cartao-metas {
    max-height: 250px;
    background-color: var(--cartao);
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: var(--azul-escuro);
    padding: 25px;
    margin: 25px;
    width: 300px;
    overflow: scroll;
}

.container-titulo {
    text-align: center
}

.container-topo .show {
    margin: 0px;
    font-size: 1.5em;
}

.botoes-artigo {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

hr {
    border-color: var(--azul-escuro) !important;
}

.conteudo-artigo {
    max-height: 260px;
    overflow: hidden;
    margin-bottom: 20px;
}


.show {
    margin: 0;
}

.show:hover {
    color: var(--azul-claro);
}

.container-tarefas {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}


.tarefas-check {
    margin: 10px 0 10px 10px;
} 

.tarefa {
    display: flex;
    align-items: center;
}

.tarefa label {
    margin: 0 15px;
}

/*  NOVO CONTEUDO  */

#novo-conteudo {
    margin: 15px 0;
}

.botao-new {
    text-align: center;
}


.conteudo {
    text-align: center;
    font-size: 1.125em;
}


/*  SHOW  */

.cartao-container {
    max-width: 1080px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--cartao);
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: var(--azul-escuro);
    padding: 25px;
}

.container-show {
    display: flex;
    margin-bottom: 25px;
}

.container-show h1 {
    margin: 0 7px;
}

.conteudo-show {
    margin: 30px 0;
}

/*   NEW E EDIT    */

.conteudo-gerador {
    margin: 40px auto;
    width: 270px;
}

.cartao-gerador {
    max-width: 1080px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--cartao);
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: var(--azul-escuro);
    padding: 25px;
}

.cartao-gerador h1 {
    margin: 20px 0;
}

.input-gerador {
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--azul-escuro);
    border: none;
    border-radius: 1%;
    transition-duration: 0.25s; 
    text-align: center;
    color: #fff;
    width: 320px;
    font-size: 1.125em;
}

.input-gerador:hover {
    background-color: #074d75;
}

.input-gerador:focus {
    background-color: var(--cartao);
    color: var(--azul-escuro);
    text-align: center; 
}

::-webkit-input-placeholder {
    color: #fff;
    text-align: center;
    font-size: 1.125em;
  }


/*  FOOTER  */

footer {
    background-color: #02121b;
    margin-top: 30px;
    padding: 30px;
}

.footer-container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-container h2 {
    font-size: 1.125em;
    color: #fff;
}

.texto-fim {
    max-width: 300px;
}

.logo-footer {
    width: 100px;
}