
<div class="footer-container">
    <div class="texto-fim">
        <h2>Feito com muito amor e esforço para te deixar o máximo confortável possivel.</h2>
    </div>
    <%= image_tag("logo 2097x1360.png", alt: "Logo da in", class:"logo-footer") %>
</div>
    