    <nav class="nav-bar">
        <%= image_tag("logo-branca.png", alt: "Logo da in", class:"logo-nav") %>
            <ul class="empresa">
                <li><%= link_to "Diretorias", offices_path(@office), class: "links-nav" %></li>
                <li><%= link_to "Células", celulas_path(@celula), class: "links-nav" %></li>
                <li><%= link_to "Projetos", projects_path(@project), class: "links-nav" %></li>
            </ul>
            <ul class="membro">
                <li><%= link_to "Artigos", articles_path(@article), class: "links-nav" %></li>
                <li><%= link_to "Fórum", posts_path(@post), class: "links-nav" %></li> 
                <li><%= link_to "Tarefas", goals_path(@goals), class: "links-nav" %></li>
            </ul>
            
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown"><%= image_tag("mulher.jpg", alt: "imagem de perfil", class:"foto-perfil") %></button>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", users_path(@user), class: "link-dropdown" %></li>
                <li><%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "link-dropdown" %></li>                
              </ul>
            </div> 
      
            </nav>
        